{% extends 'main/layout.html'%}
{% load static %}
{% block styles %}
<style type="text/css">
    .service-description p{
        font-size: 19px;

    }
    .service-description{
        font-size: 19px;

    }
</style>
{% endblock %}
{% block content %}
    <section id="page-title" class="text-light"
        {% if service.is_imagen %}
            style="background-image: url('{{service.file_data.url}}'); background-size: cover; background-position: center center;"
        {% else %}
            data-bg-video="{{service.file_data.url}}"
        {% endif %}>
        <div class="container">
            
            <div class="page-title">
                {% if service.title %}
                <h1>{{service.title}}</h1>
                {% endif %}
                {% if service.subtitle %}
                <span>{{service.subtitle}}</span>

                <br>
                {% endif %}
                <a href="{% url 'main:contact' %}" class="btn btn-linkedin  btn-lg" style="margin-top: 10%;">Matriculate HOY</a>
            </div>
        </div>
    </section>

{% if course %}
    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>{{course.name}}</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <h3>{{course.description}}</h3>
                    <span class="service-description">{{course.description_long|linebreaks}}</span>
                </div>
            </div>
            
        </div>
    </section>
    {% if course.file_metodology %}
     <section class="p-t-150 p-b-150" data-bg-parallax="{{course.file_metodology.url}}">
            <div class="bg-overlay"></div>
            <div class="container container-fullscreen">
                <div class="text-middle text-center">
                    <h1 class=" text-light"><b>METODOLOGÍA</b></h1>
                </div>
            </div>
        </section>
       
    {% else %}
    <section  class="background-blue text-light" style="background-color: #46779C !important;">
        <div class="container text-center">
            <h1><b>METODOLOGÍA</b></h1>
        </div>
    </section>
    {% endif %}
    <section>
        <div class="container text-center" style="background-color: #b1b1b06b; " >
            <div style="padding: 5%;">
            <h2>{{course.metodology_title}}</h2>
            <div class="row text-justify">
                <span class="service-description">{{course.metodology|linebreaks}}</span>
            </div>
            <div class="row">
                <a href="{% url 'main:contact' %}" class="btn btn-linkedin  btn-lg">Matricúlate HOY</a>
            </div>
                
            </div>
        </div>
    </section>
    <section>
        <div class="container text-light" style="background-color: #46779C;">
            
            <div class="row">
                
            <div class="col-md-6" style="padding: 5%;">
                <h1>Te ayudaremos a:</h1>
                <ul>
                    {% for a in objetives %}
                    <li> <span class="service-description">{{a.objetive}}</span></li>
                    {% endfor %}
                </ul>
                <h3>{{course.objetive_slogan}}</h3>
            </div>
            <div class="col-md-6" style="padding: 0;">
                <img src="{{course.file_data.url}}" style="width: 100%;">
            </div>
            </div>
        </div>
    </section>
    {% if course.file_time %}
    <section class="p-t-200 p-b-200" data-bg-parallax="{{course.file_time.url}}">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 center text-center text-light">
                        <h1 style="color: #28a745;">{{course.times_slogan}}</h1>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
    <section  class="background-blue" >
        <div class="container text-center">
            <h1 style="color: #28a745;">{{course.times_slogan}}</h1>
        </div>
    </section>
    {% endif %}
    
    <section>
        <div class="container">
                
            <div class="row text-center">
                <div class="col-12">
                    
                <h2 style="color:#4747b3;">Duración de programa: {{course.duration}}</h2>
                </div>
                <div class="col-12">
                    
                    <span class="service-description">{{course.times|linebreaks}}</span>
                </div>
                <div class="col-12">
                    
                <a href="{% url 'main:contact' %}" class="btn btn-linkedin  btn-lg">Matricúlate HOY</a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}