{% extends 'main/layout.html'%}
{% load static %}
{% block styles %}
<style type="text/css">
    .error {
    display: none;
    color: red;
}
</style>
{% endblock %}
{% block content %}
 <section class="no-padding">
            <!-- Google Map -->
            <div   data-style="light" data-height-sm="300">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.919451758973!2d-71.54370032105206!3d-16.39036718622903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a438e55b28d%3A0x6f69b1a72b1e1414!2sWake%20Up%20Consulting!5e0!3m2!1ses!2spe!4v1578693403308!5m2!1ses!2spe" width="600"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!-- end: Google Map -->
        </section>
        <!-- end: Page title -->
        <!-- CONTENT -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="text-uppercase">Contacto</h3>
                        <p>{{configuration.contact_content|linebreaks}} </p>
                        <div class="row m-t-40">
                            <div class="col-lg-6">
                                <address>
                                    {% for s in locationdetails %}
                                        <strong>{{s.title}}</strong>
                                            <br> {{s.address|linebreaks}}<br>
                                        {% endfor %}
                                </address>
                            </div>
                            <div class="col-lg-6">
                                <address>
                                    {% for s in  contactdetails%}
                                        <strong>{{s.title}}</strong><br>
                                         {{s.content}}<br>
                                    {% endfor %}
                                </address>
                            </div>
                        </div>
                        <div class="social-icons m-t-30 social-icons-colored">
                            <ul>
                                    {% if configuration.facebook %}
                                        <li class="social-facebook"><a href="{{configuration.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    {% if configuration.instagram %}
                                        <li class="social-instagram"><a href="{{configuration.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if configuration.linkedin %}
                                        <li class="social-linkedin"><a href="{{configuration.linkedin}} "><i class="fab fa-linkedin"></i></a></li>
                                    {% endif %}
                                    {% if configuration.youtube %}
                                        <li class="social-youtube"><a href="{{configuration.youtube}}"><i class="fab fa-youtube"></i></a></li>
                                    {% endif %}
                                    {% if configuration.twitter %}
                                    <li class="social-twitter"><a href="{{configuration.twitter}}"><i class="fab fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if configuration.mail %}
                                    <li class="social-twitter"><a href="mailto:{{configuration.mail}}"><i class="far fa-envelope"></i></i></a></li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                                    <h3 class="text-center text-light">{{configuration.form_title}}</h3>
                                   <form method="post" action="#">
                                   
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Programa de interés</label>
                                                <select class="form-control services_program" name="interest_program" id="services_program">
                                                    <option value="">Selecciona tu programa</option>
                                                </select>
                                                <span class="error" name='errorinterest_program'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" name="name" placeholder="Nombres">
                                                <span class="error" name='errorname'></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text"  class="form-control" name="lastname" placeholder="Apellidos">
                                                <span class="error" name='errorlastname'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Correo Electrónico</label>
                                                <input type="email" class="form-control" name="email" placeholder="name@example.com">
                                                <span class="error" name='erroremail'></span>
                                               
                                            </div>
                                        </div>

                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Teléfono celular</label>
                                                <input class="form-control" type="tel" placeholder="999999999" name='cellphone'>
                                                <span class="error" name='errorcellphone'></span>
                                            </div>
                                        </div>

                                       
                                    </div>
                                     <div class="row">
                                            
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Pais</label>
                                                    <select class="form-control country" name="country_id" id="country">
                                                        <option value="">Pais</option>
                                                        
                                                    </select>
                                                <span class="error" name='errorcountry_id'></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Estado/Departamento</label>
                                                    <select class="form-control state" name="region_id" id="state">
                                                        
                                                    </select>
                                                <span class="error" name='errorregion_id'></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>¿Cómo nos conociste?</label>
                                                    <select class="form-control know" name="add_type" id="know">
                                                        
                                                    </select>
                                                <span class="error" name='erroradd_type'></span>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button class="btn btn-linkedin saveinfo" type="button">Deseo recibir más información</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </section> <!-- end: Content -->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
       $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax_interest_programs/",
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json.content;
                 $.each($('.services_program'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax_add_types/",
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json.content;
                 $.each($('.know'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax_get_countries/",
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json;
                 $.each($('.country'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    $('.country').on('change',function(){
        var country=$(this).val();
        $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax/"+country,
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json;
                 $.each($('.state'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    });
    $('.saveinfo').on('click',function(){
        var btn=$(this);
        var loginForm = $(this).parents('form:first').serializeArray();
        var loginFormObject = {};
        var errors={};
        $.each(loginForm,
            function(i, v) {
                loginFormObject[v.name] = v.value;
                if (v.value==''){
                    errors[v.name]='Campo obligatorio';
                }
            });
        if(Object.keys(errors).length >0 ){
                $.each(errors,function(i,v){

                        var obj=$(btn).parents('form:first').find('span[name ="error'+i+'"]:first');
                        obj.parent().children().eq(1).css("border-color","red");

                });
        }
        else{


        $.ajax({
                   type: "POST",
                   url: "{{appselom_url}}/store_landing_rest",
                   data: {"form":JSON.stringify(loginFormObject),"token-public":"{{token}}"},
                   headers: {
                    'Access-Control-Allow-Credentials' : false,
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Methods':'POST',
                    'Access-Control-Allow-Headers':'application/json',
                    'token-public':"{{token}}",
                    },
                   success: function(response) {
                        alert(" Has dado un gran paso ¡Nos estaremos comunicando contigo a la brevedad!");
                        var url_ticket='/';
                        fbq('track', 'SubmitApplication');
                        window.location=url_ticket;
                   
                   },
                   error:function(data){
                    
                       alert('Intentelo nuevamente.');
                   }
                });
        }
    });

</script>
{% endblock %}