{% extends 'main/layout.html'%}
{% load static %}
{% block styles %}
<style type="text/css">
    
.vertial-center{
    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertial-center-option{
    position: absolute;
  top: 50%;
}
.vertial-center-options{
    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
}
.choice p{
    color:white; 
    font-size: 18px;
    background-color: #7E7E7E;
    background-size: 20px 20px;
    background-repeat:no-repeat;
    background-position:2px;
    padding: 5px;
    border-radius: 5px 5px 5px;
    
    padding-left: 25px;
    position:relative;
    
}
.normal-choice p{
    color:white; 
    background-color: #7E7E7E;
    background-repeat:no-repeat;
    background-position:2px;
    padding: 5px;
    border-radius: 5px 5px 5px;
    
    position:relative;
    
}
.normal-choice{

  visibility: hidden;
  opacity: 0;
}
.choice{
      visibility: hidden;
  opacity: 0;

}
.whychoice{
    webkit-animation: 1s ease-in-out 0s normal none infinite running scrolldown-keyframes;
                animation: 1s ease-in-out 0s normal none infinite running scrolldown-keyframes;
}
.whychoice:hover .choice{
    visibility: visible;
    opacity: 1;
}
.whychoice:hover .normal-choice{
    visibility: visible;
    opacity: 1;
}
.error {
    display: none;
    color: red;
}
@media (max-width: 1200px) {
              /* CSS that should be displayed if width is equal to or less than 800px goes here */
              .space-wakeup{
                margin-bottom: 10%;
                 }
                 .title-slide{
                    padding-top: 10%;
                 }
                 .flickity-button{
                    opacity: 0.5 !important;
                 }
                 #book{
                    padding: 1% !important;
                    border: 4px solid rgba(255, 255, 255, 0.2);
                 }

                 
            }
.computer-wakeup{
    display: block;

}
.phone-wakeup{
    display: none;
}
.container-wakeup{
    text-align: center;
    position: absolute;
    bottom: 10%;
    padding-bottom: 0px !important;

}
@media (max-width: 1200px) {
    .computer-wakeup{
        display: none;

    }
    .phone-wakeup{
        display: block;
    }
    .animate { transition: transform 0.80s ease-in-out; }
    .inspiro-slider-wakeup{
        height: 165vh !important;
    }
}
.inspiro-slider-wakeup{
    height: 90vh;
}

</style>
{% endblock %}
{% block content %}
<!-- SLIDER -->
         <div id="presentation" class="inspiro-slider inspiro-slider-wakeup dots-creative" data-height-xs="360" data-drag="true" >
            <!-- Slide 1 -->
            <div class="slide slide-promotions kenburns fullscreen" style="background-image:url('{{configuration.first_slider.url}}');">
                <div class="bg-overlay"></div>
                <div class="container-fullscreen">
                    <div class="text-middle">
                    <div class="container" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                        <div class="row justify-content-around">
                            <div class="col-lg-6 align-self-center title-slide">
                                <div class="text-right text-light">
                                    <h2 class="text-medium no-margin text-colored ">{{configuration.title_first}}</h2>
                                    <h2 class=" no-margin">{{configuration.subtitle_first}}</h2>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div id="book">
                                    <h3 class="text-center text-light">{{configuration.form_title}}</h3>
                                   <form method="post" action="#">
                                   
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <select class="form-control services_program" name="interest_program" id="services_program">
                                                    <option value="">Selecciona tu programa</option>
                                                </select>
                                                <span class="error" name='errorinterest_program'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Nombres">
                                                <span class="error" name='errorname'></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text"  class="form-control" name="lastname" placeholder="Apellidos">
                                                <span class="error" name='errorlastname'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Correo Electrónico">
                                                <span class="error" name='erroremail'></span>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form-group">
                                                <input class="form-control" type="tel" placeholder="Celular" name='cellphone'>
                                                <span class="error" name='errorcellphone'></span>
                                            </div>
                                        </div>

                                       
                                    </div>
                                     <div class="row">
                                            
                                            <div class="col-lg-6 col-md-6 col-6">
                                                <div class="form-group">
                                                    <select class="form-control country" name="country_id" id="country">
                                                        <option value="">Pais</option>
                                                        
                                                    </select>
                                                <span class="error" name='errorcountry_id'></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6 col-6">
                                                <div class="form-group">
                                                    <select class="form-control state" name="region_id" id="state">
                                                        <option value="">Estado/Departamento</option>
                                                    </select>
                                                <span class="error" name='errorregion_id'></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <select class="form-control know" name="add_type" id="know">
                                                        <option value="">¿Cómo nos conociste?</option>
                                                    </select>
                                                <span class="error" name='erroradd_type'></span>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button class="btn btn-linkedin saveinfo" type="button">Deseo recibir más información</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
            {% for s in sliders %}
            <!-- Slide 2 -->
            <div class="slide slide-promotions kenburns fullscreen" 
            {% if s.is_imagen %}
            data-bg-image="{{s.file_data.url}}"
            {% else %}
            data-bg-video="{{s.file_data.url}}"
            {% endif %}>
                <div class="bg-overlay"></div>
                <div class="container-fullscreen">
                    <div class="text-middle">
                        <div class="container" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                            <div class="row justify-content-around">
                                <div class="col-lg-6 align-self-center title-slide">
                                    <div class="text-right text-light">
                                        <h2 class="text-medium no-margin text-colored ">{{s.title}}</h2>
                                        <h2 class=" no-margin">{{s.subtitle}}</h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                <div id="book">
                                    <h3 class="text-center text-light">{{configuration.form_title}}</h3>
                                   <form method="post" action="#">
                                   
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <select class="form-control services_program" name="interest_program" id="services_program">
                                                    <option value="">Selecciona tu programa</option>
                                                </select>
                                                <span class="error" name='errorinterest_program'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Nombres">
                                                <span class="error" name='errorname'></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text"  class="form-control" name="lastname" placeholder="Apellidos">
                                                <span class="error" name='errorlastname'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Correo Electrónico">
                                                <span class="error" name='erroremail'></span>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form-group">
                                                <input class="form-control" type="tel" placeholder="Celular" name='cellphone'>
                                                <span class="error" name='errorcellphone'></span>
                                            </div>
                                        </div>

                                       
                                    </div>
                                     <div class="row">
                                            
                                            <div class="col-lg-6 col-md-6 col-6">
                                                <div class="form-group">
                                                    <select class="form-control country slider{{s.pk}}" name="country_id" id="country">
                                                        <option value="">Pais</option>
                                                        
                                                    </select>
                                                <span class="error" name='errorcountry_id'></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6 col-6">
                                                <div class="form-group">
                                                    <select class="form-control state" name="region_id" id="state">
                                                        <option value="">Estado/Departamento</option>
                                                    </select>
                                                <span class="error" name='errorregion_id'></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <select class="form-control know" name="add_type" id="know">
                                                        <option value="">¿Cómo nos conociste?</option>
                                                    </select>
                                                <span class="error" name='erroradd_type'></span>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button class="btn btn-linkedin saveinfo btnslider{{s.pk}}" type="button">Deseo recibir más información</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->
            {% endfor %}
        </div>
        <style type="text/css">
            .parent {
              margin: auto;
              
              display: flex;
              height: 80%;
              width: 80%;
            }

            .child {
              position:relative;
                max-width:100%;
                max-height:100%;
                
                
            }
            .slide-captions{
                position: relative;
                text-align: center !important;
                bottom: 0;
            }
            .center-wakeup{
                webkit-animation: 1s ease-in-out 0s normal none infinite running scrolldown-keyframes;
                animation: 1s ease-in-out 0s normal none infinite running scrolldown-keyframes;
                bottom:5%;
                left: 50%;
                width: 400px;
                margin-left: -200px;
                position: absolute;
            }
        </style>
        <!-- Servicios -->
        <style type="text/css">
            #services-phone .kenburns-bg {
                background-size: 100% 100%;
            }
        </style>
    <div id="services-phone" class="phone-wakeup inspiro-slider slider-fullscreen dots-creative" data-height-xs="360" data-drag="true">
            {% for s in services %}
            <div class="slide kenburns slide-services-mobile" 
            {% if s.file_data_responsive %}
                {% if s.is_imagen_responsive %}
                data-bg-image="{{s.file_data_responsive.url}}"
                {% else %}
                data-bg-video="{{s.file_data_responsive.url}}"  
                {% endif %} 
            {% else %}
                {% if s.is_imagen %}
                data-bg-image="{{s.file_data.url}}"
                {% else %}
                data-bg-video="{{s.file_data.url}}"  
                {% endif %}
            {% endif %} 
                >
                <div class="bg" ></div>
                <div class="container text-center">
                        {% if s.icon %}
                        <img class="child" src="{{s.icon.url}}">
                        {% endif%}
                        {% if s.title %}
                        <h1 class="text-uppercase " >{{s.title}}</h1>
                        {% endif%}
                        {% if s.subtitle %}
                        <p class="lead" style="font-style: oblique;">{{s.subtitle}}</p>
                        {% endif%}
                    <div class="center-wakeup">
                        <a  href="{% url 'main:service_detail' s.pk%}" class="btn btn-linkedin  btn-lg ">
                            Más información AQUÍ
                        </a>
                    </div>
                </div>
            </div>
            {% endfor%}
            
        </div>

        <div id="services" class="computer-wakeup inspiro-slider slider-fullscreen dots-creative" data-height-xs="360">
            {% for s in services %}
            <div class="slide slide-services" 
            {% if s.is_imagen %}
            data-bg-image="{{s.file_data.url}}"
            {% else %}
            data-bg-video="{{s.file_data.url}}"  
            {% endif %} 
                >
                <div class="bg" ></div>
                <div class="container text-center">
                        {% if s.icon %}
                        <img class="child" src="{{s.icon.url}}">
                        {% endif%}
                        {% if s.title %}
                        <h1 class="text-uppercase " >{{s.title}}</h1>
                        {% endif%}
                        {% if s.subtitle %}
                        <p class="lead" style="font-style: oblique;">{{s.subtitle}}</p>
                        {% endif%}
                        
                    <div class="center-wakeup">
                        <a  href="{% url 'main:service_detail' s.pk%}" class="btn btn-linkedin  btn-lg ">
                            Más información AQUÍ
                        </a>
                    </div>
                </div>
            </div>
            {% endfor%}
            
        </div>

        <style type="text/css">
            .wrapper {
              width: 100%;
              /* whatever width you want */
              display: inline-block;
              position: relative;
              background-size: contain;
              background: url('https://upload.wikimedia.org/wikipedia/en/thumb/6/67/Wiki-llama.jpg/1600px-Wiki-llama.jpg') top center no-repeat;
              margin: 0 auto;
            }
            .wrapper:after {
              padding-top: 75%;
              /* this llama image is 800x600 so set the padding top % to match 600/800 = .75 */
              display: block;
              content: '';
            }
            .main {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              color: black;
              text-align: center;
              margin-top: 5%;
            }
            .wake-up-text{
                position: absolute;
                text-align: center;
                top:10%;
                z-index: 1;
            }
        </style>
        
        <section id="us">
            <div class="container">
                <div class="row">
                    <div class="content col-md-12">
        <!--Image Carousel -->
                        <h2 class="mb-4">NUESTRO <b>PILARES</b></h2>
                        <div class="carousel" data-items="4" data-dots="false">
                        {% for p in pilars %} 
                         <div>
                            <div class="wake-up-text text-light text-center" style="width: 100%;" >
                                    <h3><b>{{ p.title}}</b></h3>
                                    <p>{{ p.subtitle}}</p>
                            </div>
                            <img src="{{p.file_data.url}}">
                         </div>
                        {% endfor%}
                        </div>
                   </div>
                   
               </div>
               <div class="row">
                       <div class="col-md-6">
                           <h2>Misión:</h2>
                           <p> {{configuration.mision}} </p>
                       </div>
                       <div class="col-md-6">
                        <h2>Visión:</h2>
                        <p> {{configuration.vision}} </p>   
                       </div>
               </div>
            </div>
        </section>
        <!-- COUNTERS -->
        
        <section class="background-blue " style="background-color: #46779C !important;">
            <div class="container text-light">
                <h1><b>Estadísticas</b></h1>
                <div class="row"  >
                    <div class="col-lg-3 col-6">
                        <div class="text-center">
                            <div class="icon"><i style="color: white !important; " class="fa fa-3x fa-star"></i></div>
                            <div class="counter"> <span style="color: white !important; " data-speed="1000" data-refresh-interval="12" data-to="{{configuration.cases_success}}" data-from="0" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p style="color: white !important; ">Casos de éxito</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">

                        <div class="text-center">
                            <div class="icon"><i style="color: white !important; " class="fa fa-3x fa-user-friends"></i></div>
                            <div class="counter"> <span style="color: white !important; " data-speed="1000" data-refresh-interval="2" data-to="{{configuration.actual_clients}}" data-from="0" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p style="color: white !important; ">Clientes actuales</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">

                        <div class="text-center">
                            <div class="icon"><i style="color: white !important; " class="fa fa-3x fa-bookmark"></i></div>
                            <div class="counter"> <span style="color: white !important; "data-speed="1000" data-refresh-interval="12" data-to="{{configuration.post_spain}}" data-from="0" data-seperator="true"></span> </div>
                            <div class="seperator seperator-small"></div>
                            <p style="color: white !important; ">Programas de postgrado en España</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">

                        <div class="text-center">
                            <div class="icon"><i style="color: white !important; " class="fa fa-3x fa-graduation-cap"></i></div>
                            <div class="counter" > <span  style="color: white !important; " data-speed="1000" data-refresh-interval="30" data-to="{{configuration.aprovedd_tesis}}" data-from="0" data-seperator="true"></span> <p style="color: white!important;display: inline;">%</p> </div>
                            <div class="seperator seperator-small"></div>
                            <p style="color: white !important; " >Tesis aprobadas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style type="text/css">
                .scene {
                  width: 300px;
                  height: 400px;
                  perspective: 600px;
                }
                .scene-phone {
                  width: 300px;
                  height: 400px;
                  perspective: 600px;
                }

                .card {
                  width: 100%;
                  height: 100%;
                  transition: transform 1s;
                  -webkit-transition: transform 1s;
                  transform-style: preserve-3d;
                  -webkit-transform-style: preserve-3d;
                  cursor: pointer;
                  position: relative;
                  background-color: transparent;
                }

                .card.is-flipped {
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                }

                .card__face {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  font-weight: bold;
                  -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
                }

                .card__face--front {
                  
                }

                .card__face--back {
                    background: #46779C;
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                }
                .scene:hover .card{
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                }
                .something-semantic {
                  display: table;
                  width: 100%;
                  height: 100%;
                }
                .something-else-semantic {
                  display: table-cell;
                  text-align: center;
                  vertical-align: middle;
                }
            </style>
        <section id="chooseus">
            <div class="container">
                    <h2 class="mb-4">Por qué <b>ELEGIRNOS:</b></h2>
                    <div class="carousel phone-wakeup" data-items="1" data-dots="false"> 
                    {% for o in options %}
                    <div class="scene-phone scene--card">
                      <div class="card">
                        <div class="card__face card__face--front" style="background-image: linear-gradient(rgba(20, 17, 17, 0.18), rgba(255,255,255,.5)),url('{{o.file_data.url}}');background-size: 100% 100%;">
                            <div class="something-semantic">
                               <div class="something-else-semantic text-light">
                                   <h3>{{o.title}}</h3>
                               </div>
                            </div>
                        </div>
                        <div class="card__face card__face--back text-light">
                            <div class="something-semantic">
                               <div class="something-else-semantic">
                                    <p>{{o.subtitle|linebreaks}}</p>
                               </div>
                            </div>    
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                    <div class="carousel computer-wakeup" data-items="3" data-dots="false"> 
                    {% for o in options %}
                    <div class="scene scene--card">
                      <div class="card">
                        <div class="card__face card__face--front" style="background-image: linear-gradient(rgba(20, 17, 17, 0.18), rgba(255,255,255,.5)),url('{{o.file_data.url}}'); background-size: 100% 100%;">
                            <div class="something-semantic">
                               <div class="something-else-semantic text-light">
                                   <h3>{{o.title}}</h3>
                               </div>
                            </div>
                        </div>
                        <div class="card__face card__face--back text-light">
                            <div class="something-semantic">
                               <div class="something-else-semantic">
                                    <p>{{o.subtitle|linebreaks}}</p>
                               </div>
                            </div>    
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                     
                    </div>
                    <!-- end: Testimonials -->
        </section>
        <section  id="slider" style="background-image: url('https://wakeup-dev.s3.amazonaws.com/static/main/images/carruselvideo.png') !important;">
            <div class="text-light text-center">
                <h1 style="margin-top: 2%;"><b>Testimonios</b></h1>
                <div class="carousel computer-wakeup" data-items="3" data-dots="false" data-align="center" data-video="true" data-autoplay="false" data-drag="true">
                    {% for t in testimony_phone %}
                        <div class="item-video">
                            <iframe src="https://www.youtube.com/embed/{{t.video_url}}?rel=0" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                
                    {% endfor %}
                </div>
                <div class="carousel phone-wakeup" data-items="3" data-dots="false" data-align="center" data-video="true" data-autoplay="false" data-drag="true">
                    {% for t in testimony_phone %}
                        <div class="item-video" style="max-height: 400px; height: 250px !important;">
                            <iframe src="https://www.youtube.com/embed/{{t.video_url}}?rel=0" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    {% endfor %}
                </div>
            
            </div>
        </section>
        {% if configuration.show_staff %}
        <!-- TEAM -->
        <section id="section4">
            <div class="container">
                <div class="heading">
                     <h2 class="mb-4">NUESTRO <b>STAFF</b></h2>
                </div>
                <div class="row team-members">
                    {% for m in members %}
                    <div class="col-md-3 col-6">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="{{m.file_data.url}}">  
                            </div>
                            <div class="team-desc">
                                <h3>{{m.name}}</h3>
                                {% if m.show_grade %}
                                <span>{{m.grade}}</span>
                                {% endif%}
                                <p>{{m.testimony|linebreaks}} </p>
                                <div class="align-center">
                                    {% if m.linkedin %}
                                    <a class="btn btn-xs btn-slide btn-light" href="{{m.linkedin}}" data-width="100">
                                        <i class="fab fa-linkedin"></i>
                                        <span>linkedin</span>
                                    </a>
                                    {% endif %}
                                    {% if m.instagram %}
                                    <a class="btn btn-xs btn-slide btn-light" href="{{m.instagram}}" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    {% endif %}
                                    {% if m.mail %}
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:{{m.mail}}" data-width="80">
                                        <i class="far fa-envelope"></i>
                                        <span>Mail</span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </section> 
        {% endif %}
         <!-- BLOG -->
         <section id="blog" class="background-blue text-light" style="background-color: #46779C !important;">
            <div class="container text-center">
                <h1><b>BLOG</b></h1>
            </div>
        </section>
        <style type="text/css">
                .scene-blog {
                  width: 300px;
                  height: 400px;
                  
                }

                .card-blog {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  position: relative;
                  
                }

                .card__face-blog {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  font-weight: bold;
                  
                }

                
                .something-semantic-blog {
                  display: table;
                  width: 100%;
                  height: 100%;
                }
                .something-else-semantic-blog {
                  display: table-cell;
                  text-align: center;
                  vertical-align: middle;
                }
        </style>
        <section>
            <div class="container">
                <div class="row">
                    <div class="content col-md-12">
                        <div class="carousel" data-items="3" data-dots="false">
                            {% for s in posts %}
                            <div class="scene-blog ">
                              <div class="card-blog">
                                <div class="card__face-blog card__face-blog" style="background-image: linear-gradient(rgba(39, 18, 18, 0.52), rgba(255,255,255,.5)),url('{{s.file_icon.url}}'); background-size: 100% 100%;">
                                    <div class="something-semantic-blog">
                                       <div class="something-else-semantic-blog text-light">
                                            <span>{{s.category}}</span>
                                           <h3>{{s.title}}</h3>
                                            <a href="{% url 'main:post_detail' s.pk%}" class="btn btn-linkedin  ">Leer Artículo</a>

                                       </div>
                                    </div>
                                </div>
                                
                              </div>
                            </div>

                       
                        {% endfor %}
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: BLOG -->
    {% endblock %}
    {% block scripts %}
<script type="text/javascript">
    
        var card = document.querySelector('.card');
        $('.card').on('click', function(){
          this.classList.toggle('is-flipped');
        });
        $('.flip-box-phone').on('click', function(){
            if ($(this).attr("phoneclick")==0)
            {
                $(this).children('div').css(
                    {
                       "transform":"rotateY(180deg)",
                        "-webkit-transform": "rotateY(180deg)",
                        "-ms-transform": "rotateY(180deg)"
                    });

                    
                $(this).attr("phoneclick", 1); 
                alert($(this).attr("phoneclick"),$(this).children('div').css());
            }
            else{
                $(this).children('div').css(
                    {
                       "transform":"rotateY(360deg)",
                        "-webkit-transform": "rotateY(360deg)",
                        "-ms-transform": "rotateY(360deg)" 
                    });
                $(this).attr("phoneclick", 0); 
            }
        });
        
        $(window).bind("load", function() {
            {% if sliders.count >= 1 %}
            // funcion que regresa al primer slider cuando carga la pagina.
            do{
            
                if ($('#presentation').find(".dot[aria-label='Page dot 1']").hasClass('is-selected')){
                        break;
                    }
                    else{
                        $('#presentation .previous').click();
                        console.log('click');
                    }
                    
            }while(true);
            {% endif %}
            {% if services.count > 1 %}
               function isElementVisible(elementToBeChecked) {
                    var TopView = $(window).scrollTop();
                    var BotView = TopView + $(window).height();
                    var TopElement = $(elementToBeChecked).offset().top;
                    var BotElement = TopElement + $(elementToBeChecked).height();
                    var fittyporcentage= ((TopElement- BotElement)/2)*(-1);
                    if (((TopElement>=TopView)&&(TopElement<=BotView))){
                        var heightshow=(TopElement-BotView)*(-1)
                        if(heightshow>=fittyporcentage)
                            return true;

                    }
                    if((BotElement >= TopView) && (BotElement <= BotView)){
                        var heightshow=(TopView - BotElement)*(-1);
                        if (heightshow >= fittyporcentage)
                            return true;

                    }
                    return false;
                }
                var i_service=0;
                var i_service_mobile=0;
               $(window).scroll(function () {
                    var services = isElementVisible("#services");
                    var services_mobile = isElementVisible("#services-phone");
                    var presentation = isElementVisible("#presentation");
                    var us = isElementVisible("#us");
                    if (services){
                        if(i_service==0){
                             do{
            
                                if ($('#services').find(".dot[aria-label='Page dot 1']").hasClass('is-selected')){
                                        break;
                                    }
                                    else{
                                        $('#services .previous').click();
                                        console.log('click');
                                    }
                                    
                            }while(true);

                            i_service++;
                        }
                    }
                    if (services_mobile){
                        if(i_service_mobile==0){
                             do{
            
                                if ($('#services-phone').find(".dot[aria-label='Page dot 1']").hasClass('is-selected')){
                                        break;
                                    }
                                    else{
                                        $('#services-phone .previous').css("display", "block");;
                                        $('#services-phone .previous').click();
                                        $('#services-phone .previous').css("display", "none");;
                                        console.log('click');
                                    }
                                    
                            }while(true);

                            i_service_mobile++;
                        }
                    }

                    if(presentation)
                    {
                         i_service=0;
                         i_service_mobile=0;
                    }
                    if(us){
                         i_service=0;
                         i_service_mobile=0;   
                    }

                });
               {% endif %}
            });
        $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax_interest_programs/",
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json.content;
                 $.each($('.services_program'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax_add_types/",
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json.content;
                 $.each($('.know'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax_get_countries/",
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json;
                 $.each($('.country'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    $('.country').on('change',function(){
        var country=$(this).val();
        $.ajax({
            type: 'GET',
            url: "{{appselom_url}}/ajax/"+country,
            contentType: 'application/json',
            dataType:'json',
            responseType:'application/json',
            xhrFields: {
            withCredentials: false
            },
            headers: {
            'Access-Control-Allow-Credentials' : false,
            'Access-Control-Allow-Origin':'*',
            'Access-Control-Allow-Methods':'GET',
            'Access-Control-Allow-Headers':'application/json',
            },
            success:function(json){
                 // do stuff with json (in this case an array)
                 var options=json;
                 $.each($('.state'),function(key,form){
                     $.each(options,function(i,v){
                        $(form).append($('<option>', {
                            value: v.id,
                            text: v.name
                        }));
                     });
                 });
            },
            error:function(data){
            }
        });
    });
    $('.saveinfo').on('click',function(){
        var btn=$(this);
        var loginForm = $(this).parents('form:first').serializeArray();
        var loginFormObject = {};
        var errors={};
        $.each(loginForm,
            function(i, v) {
                loginFormObject[v.name] = v.value;
                if (v.value==''){
                    errors[v.name]='Campo obligatorio';
                }
            });
        if(Object.keys(errors).length >0 ){
                $.each(errors,function(i,v){

                        var obj=$(btn).parents('form:first').find('span[name ="error'+i+'"]:first');
                        obj.parent().children().first().css("border-color","red");

                });
        }
        else{


        $.ajax({
                   type: "POST",
                   url: "{{appselom_url}}/store_landing_rest",
                   data: {"form":JSON.stringify(loginFormObject),"token-public":"{{token}}"},
                   headers: {
                    'Access-Control-Allow-Credentials' : false,
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Methods':'POST',
                    'Access-Control-Allow-Headers':'application/json',
                    'token-public':"{{token}}",
                    },
                   success: function(response) {
                        alert("Has dado un gran paso ¡Nos estaremos comunicando contigo a la brevedad!");
                        fbq('track', 'SubmitApplication');
                        var url_ticket='/';
                        window.location=url_ticket;
                   
                   },
                   error:function(data){
                    
                       alert('Intentelo nuevamente.');
                   }
                });
        }
    });

</script>
        

{% endblock %}
