<!DOCTYPE html>
{% load static %}
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="ADEV" />
    <meta name="title" content="{% if post_title %}{{post_title}} {% else %}WakeUp Educación & Desarrollo{%endif%}" />
    <meta name="description" content=" {% if post_description %}{{post_description}} {% else %}{{title_page}}{%endif%}">
    <meta name="og:image" content=" {% if post_image %}{{post_image}} {% else %}https://wakeup-dev.s3.amazonaws.com/static/main/images/logo.png{%endif%}">
    <!-- Document title -->
    <title>WAKE UP</title>
    <link rel="icon" type="image/png" href="{% static 'main/images/logo-up-para-web.png'%}"/>
    <!-- Stylesheets & Fonts -->
    <link href="{% static 'main/css/plugins.css'%}" rel="stylesheet">
    <link href="{% static 'main/css/style.css'%}" rel="stylesheet">

    <!-- Template color -->
    <link href="{% static 'main/css/theme.css'%}" rel="stylesheet" type="text/css" media="screen">
    <!-- Facebook Pixel Code -->
    {% load fpc_tags %}
    {% fpc %} 
<!-- End Facebook Pixel Code -->
     <style type="text/css">
         .header-wakeup{
            background-color: white !important;
         }
         /* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(https://wakeup-dev.s3.amazonaws.com/static/main/images/cargando.gif) center no-repeat #fff;
            background-size: 30%;
        }
     </style>
    <!-- CSS HOTEL STYLE -->
    {% block styles %}
    {% endblock%}
     <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body  >
    <div class="se-pre-con"></div>
    <div class="" >

       
        <!-- Header -->
        <header id="header" data-responsive-fixed="true" >
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo"> 
                        <a href="{% url 'main:home'%}">
                            <img class="logo-default" src="{% static 'main/images/logo.png'%}" >
                            <img class="logo-dark" src="{% static 'main/images/logo.png'%}" >
                        </a>
                    </div>
                    <!--End: Logo-->
                   
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x">
                            <span class="lines">
                                
                            </span>
                        </a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown "><a onclick="showDiv()" href="{%url 'main:home'%}#services">PROGRAMAS</a>
                                        <ul class="dropdown-menu">
                                            {% for s in services %}
                                            <li class=""><a href="{% url 'main:service_detail' s.pk%}">{{s.name}}</a>
                                                
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    
                                    <li class=""><a class='is_web_start' href="{%url 'main:home'%}#us">NOSOTROS</a>
                                        
                                    </li>
                                    <li class=" mega-menu-item"><a class="is_web_start" href="{%url 'main:home'%}#blog">BLOG</a>
                                        
                                    </li>
                                    <li class=""><a href="{% url 'main:contact' %}">CONTACTO</a>
                                        
                                    </li>
                                    <li>
                                        <a href="{{intranet}}" target="_blank" class="btn btn-linkedin  ">Iniciar Sesión</a>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        {% block content %}
        {% endblock %}
        <style type="text/css">

            .footer-wakeup{
                background-image: url('https://wakeup-dev.s3.amazonaws.com/static/main/images/FOOTER.png'); 
                background-size: 100% 100%;
            }
            @media (max-width: 1200px) {
              /* CSS that should be displayed if width is equal to or less than 800px goes here */
              .footer-wakeup{
                background-color: #317bb6;
                background-image: none;
                 }
            }
            .child {
                position:relative;
                max-width:100%;
                max-height:100%;
    
    
            }
            
        </style>
    <ul class="ul-share">
        <li class="li-share">
            <a href="tel:+51967280345">
                <i class="icon-phone my-float"></i>
            </a>
        </li>
        <li class="li-share">
            <a  style="background-color: #06d755 !important;" target="_blank" href="https://wa.me/51967280345">
                <i class="fab fa-whatsapp my-float"></i>
            </a>
        </li>
    </ul><!--
    #007bb6 !important
    whatsapp #06d755-->
<style type="text/css">
    .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:80px;
    right:20px;
    background-color:#007bb6;
    color:white;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:1000;
    animation: bot-to-top 2s ease-out;
}

.ul-share{
    position:fixed;
    right:20px;
    bottom:60px;
    z-index:100;
}

.ul-share .li-share{
    list-style:none;
    margin-bottom:10px;
}

.ul-share .li-share a{
    background-color:#317bb6;
    color:white;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px white;
    width:60px;
    height:60px;
    display:block;
}

.my-float{
    font-size:24px;
    margin-top:18px;
}

a#scrollTop + .ul-share{
  visibility: visible;
  opacity:1!important;
    color:white;
}
}

a#scrollTop:hover + .ul-share{
  visibility: visible;
  animation: scale-in 0.5s;
  color:white;
}

a#scrollTop i{
    animation: rotate-in 0.5s;
    color:white;
}

a#scrollTop:hover > i{
    animation: rotate-out 0.5s;
    color:white;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
</style>
        <footer id="footer" class="inverted" >
            
            <div class="footer-content footer-wakeup">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="child" src="https://wakeup-dev.s3.amazonaws.com/static/main/images/logo_blanco.png"  >
                        </div>

                    </div>
                    <div class="row">
                            
                        <div class="col-md-3">
                            <div class="icon-box effect small clean text-light">
                                <div class="icon">
                                    <a href="#"><i class="icon-clock"></i></a>
                                </div>
                                <h3>Horarios Atención</h3>
                                {% for s in atentionhours %}
                                <p><strong>{{s.title}}</strong>
                                    {{s.hours|linebreaks}}</p>
                                {% endfor %}
                                
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="icon-box effect small clean text-light">
                                <div class="icon">
                                    <a href="#"><i class="icon-phone"></i></a>
                                </div>
                                <h3>Contacto</h3>
                                {% for s in  contactdetails%}
                                <p><strong>{{s.title}}</strong>
                                 {{s.content|linebreaks}}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="icon-box effect small clean text-light">
                                        <div class="icon">
                                            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                        </div>
                                        <h3>Ubicación</h3>
                                        {% for s in locationdetails %}
                                        <p><strong>{{s.title}}</strong>
                                            {{s.address|linebreaks}}
                                        </p>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    {% for s in locationdetails %}
                                    <iframe src="{{s.map_embeded}}" width="600"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    {% endfor %}
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-icons m-t-30 social-icons-colored">
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Social icons -->
                            <div class="social-icons social-icons-colored float-left">
                                <ul>
                                    {% if configuration.facebook %}
                                        <li class="social-facebook"><a href="{{configuration.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    {% if configuration.instagram %}
                                        <li class="social-instagram"><a href="{{configuration.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if configuration.linkedin %}
                                        <li class="social-linkedin"><a href="{{configuration.linkedin}} "><i class="fab fa-linkedin"></i></a></li>
                                    {% endif %}
                                    {% if configuration.youtube %}
                                        <li class="social-youtube"><a href="{{configuration.youtube}}"><i class="fab fa-youtube"></i></a></li>
                                    {% endif %}
                                    {% if configuration.twitter %}
                                    <li class="social-twitter"><a href="{{configuration.twitter}}"><i class="fab fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if configuration.mail %}
                                    <li class="social-twitter"><a href="mailto:{{configuration.mail}}"><i class="far fa-envelope"></i></i></a></li>
                                    {% endif %}
                            </ul>
                            </div>
                            <!-- end: Social icons -->
                        </div>
                        <div class="col-lg-6">
                            <div class="copyright-text text-center">&copy; 2020 WakeUp - Todos los derechos reservados. </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'main/js/jquery.js'%}"></script>
    <script src="{% static 'main/js/plugins.js'%}"></script>

    <!--Template functions-->
    <script src="{% static 'main/js/functions.js'%}"></script>
    <!--Pageloader plugin files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript">
        $('.is_web_start').on('click',function(){
                        $('.lines-button .lines').click()

        });
    //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function() {
            // Animate loader off screen
                
    // Code to be executed after timeout goes here
                $(".se-pre-con").fadeOut("slow");
                fbq('track', 'Contact');
        });

        function showDiv() {
            if($('#services').length ==0){
                   window.location.href="{% url 'main:home'%}#services";

            }
             else{  $('html, body').animate({
                 scrollTop: $("#services").offset().top
                 }, 2000);
            }


            //Do stuff when clicked
        }
        
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>