{% extends 'panel/nav.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/compiled/tables.css' %}"/>
    <link href="{% static 'panel/css/lib/jquery.dataTables.css' %}" type="text/css" rel="stylesheet"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href=" {% static 'panel/css/compiled/datatables.css' %}" type="text/css" media="screen"/>
    <style type="text/css">
     .other-info span{
        font-size: 20px;
        margin-bottom: 5%;
     }
     #main-stats{
        margin-left: 5%;
     }

    </style>
{% endblock%}
{% block content %}
 <!-- upper main stats -->
  <div id="pad-wrapper" class="users-list">
        
            <div class="row">
                <h2>CONFIGURACION PRINCIPAL</h2>
            </div>
        </div>
<div id="main-stats" class="users-list">
	<div class="row">
		
		<div class="pull-right" style="margin-top: 2%;margin-right: 5%;">
			<a href="{% url 'panel:configuration_stats'%}" class="btn-flat default icon-pencil
" style="width: 200px;text-align: center;font-size: 20px;"> Editar</a>
		</div>
	</div>
    <div class="row stats-row">
    	<h2>NUMEROS</h2>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
            
                <span class="number">{{configuration.cases_success}}</span>
                Casos de Exito
            </div>
        </div>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">{{configuration.actual_clients}}</span>
                Clientes Actuales
            </div>
        </div>
        <div class="col-md-3 col-sm-3 stat">
            <div class="data">
                <span class="number">{{configuration.post_spain}}</span>
                Programas de Posgrado en España
            </div>
        </div>
        <div class="col-md-3 col-sm-3 stat last">
            <div class="data">
                <span class="number">{{configuration.aprovedd_tesis}} %</span>
                Tesis Aprobadas
            </div>
        </div>
    </div>
    <div class="row stats-row other-info">
        <h2>PRIMER SLIDER</h2>
        <span><b>Titulo de formulario: </b> {{ configuration.form_title }}</span><br>
        <span><b>Titulo Primer Slider: </b> {{ configuration.title_first }}</span><br>
        <span><b>Subtitulo Primer Slider: </b> {{ configuration.subtitle_first }}</span><br>
        <span><b>Multimedia del Primer Slider: </b> <a href="{{ configuration.first_slider.url }}">{{ configuration.first_slider }}</a></span><br>
        <h2>NOSOTROS</h2>
        <span><b>Mision</b><br>
            {{configuration.mision|linebreaks}}
        </span>
        <span><b>Vision</b><br>
            {{configuration.vision|linebreaks}}
        </span>
        <h2>OTRAS CONFIGURACIONES</h2>
        <span><b>Mostrar staff: </b> 
            {% if configuration.show_staff %}
                mostrar
            {% else %}
               no mostrar
            {% endif %}
        </span><br>
        <span><b>Contacto contenido</b><br>
            {{configuration.contact_content|linebreaks}}
        </span>
    </div>
</div>
<div id="pad-wrapper" class="atentionhours-list">
        
    <div class="table-wrapper products-table">
        <div class="row header">
            <h2>REDES SOCIALES</h2>
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'panel:configuration_rss'%}" class="btn-flat default pull-left">
                            
                            EDITAR
                        </a>
                    </div>
            <div class="col-md-12">
                <span><b>FACEBOOK: </b> <a href="{{ configuration.facebook }}">{{ configuration.facebook }}</a></span><br><br>
                <span><b>INSTAGRAM: </b> <a href="{{ configuration.instagram}}">{{ configuration.instagram }}</a></span><br><br>
                <span><b>LINKEDIN: </b> <a href="{{ configuration.linkedin}}">{{ configuration.linkedin }}</a></span><br><br>
                <span><b>YOUTUBE: </b> <a href="{{ configuration.youtube }}">{{ configuration.youtube }}</a></span><br><br>
                <span><b>TWITTER: </b> <a href="{{ configuration.twitter }}">{{ configuration.twitter }}</a></span><br><br>
                <span><b>EMAIL: </b> <a href="{{ configuration.mail }}">{{ configuration.mail }}</a></span><br>
            </div>
        </div>
    </div>
</div>


 <div id="pad-wrapper" class="atentionhours-list">
        
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>HORARIOS DE ATENCION</h3>
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'panel:atention_new'%}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo HORARIO
                        </a>
                    </div>
            </div>
            {% if message %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> {{ message }} {{ response }}
                </div>
            {% endif %}
            <table id='example'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th><span class="line"></span>DIAS</th>
                    <th><span class="line"></span>HORAS</th>
                    <th><span class="line"></span>Opciones</th>
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>
                {% for s in atentionhours %}
                    <tr>
                        <td>{{s.id}}</td>
                        <td>{{s.title}}</td>
                        <td>
                            {{s.hours}}
                        </td>
                        <td>                    
                            <ul class="actions">
                                <li><a href="{% url 'panel:atention_edit' s.pk%}">Editar</a></li>
                                <li><a href="{% url 'panel:atention_delete' s.pk%}">Delete</a></li>
                               
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
        </div>
    </div>
    <div id="pad-wrapper" class="contactdetail-list">
        
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>DETALLES DE CONTACTO</h3>
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'panel:contact_new'%}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo DETALLE DE CONTACTO
                        </a>
                    </div>
            </div>
            {% if message %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> {{ message }} {{ response }}
                </div>
            {% endif %}
            <table id='example2'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th><span class="line"></span>TITULO</th>
                    <th><span class="line"></span>CONTENIDO</th>
                    <th><span class="line"></span>Opciones</th>
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>
                {% for s in contactdetails %}
                    <tr>
                        <td>{{s.id}}</td>
                        <td>{{s.title}}</td>
                        <td>
                            {{s.content}}
                        </td>
                        <td>                    
                            <ul class="actions">
                                <li><a href="{% url 'panel:contact_edit' s.pk%}">Editar</a></li>
                                <li><a href="{% url 'panel:contact_delete' s.pk%}">Delete</a></li>
                               
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
        </div>
    </div>
    <div id="pad-wrapper" class="locationdetail-list">
        
        <div class="table-wrapper products-table">
            <div class="row header">
                <h3>DETALLES DE UBICACION</h3>
                    <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                        <a href="{% url 'panel:location_new'%}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            Nuevo DETALLE DE UBICACION
                        </a>
                    </div>
            </div>
            {% if message %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> {{ message }} {{ response }}
                </div>
            {% endif %}
            <table id='example3'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th><span class="line"></span>TITULO</th>
                    <th><span class="line"></span>DIRECCION</th>
                    <th><span class="line"></span>Opciones</th>
                    <!--<th><span class="line"></span>Formato</th>-->
                </tr>
                </thead>
                <tbody>
                {% for s in locationdetails %}
                    <tr>
                        <td>{{s.id}}</td>
                        <td>{{s.title}}</td>
                        <td>
                            {{s.address}}
                        </td>
                        <td>                    
                            <ul class="actions">
                                <li><a href="{% url 'panel:location_edit' s.pk%}">Editar</a></li>
                                <li><a href="{% url 'panel:location_delete' s.pk%}">Delete</a></li>
                               
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'panel/js/jquery.dataTables.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').dataTable({
                "sPaginationType": "full_numbers"
            });
            $('#example2').dataTable({
                "sPaginationType": "full_numbers"
            });
            $('#example3').dataTable({
                "sPaginationType": "full_numbers"
            });

        });
    </script>
{% endblock %}