{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>WAKEUP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'main/images/logo-up-para-web.png'%}"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link href="{% static 'panel/css/bootstrap/bootstrap-overrides.css' %}" type="text/css" rel="stylesheet"/>


    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/compiled/layout.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/compiled/elements.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/compiled/icons.css' %}"/>

    <link href="{% static 'panel/css/lib/font-awesome.css' %}" type="text/css" rel="stylesheet"/>
    



    <!-- libraries -->
    <link href="{% static 'panel/css/lib/uniform.default.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'panel/css/lib/select2.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'panel/css/lib/bootstrap.datepicker.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'panel/css/compiled/form-showcase.css' %}" type="text/css"
          media="screen"/>
    


    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static 'panel/css/compiled/index.css' %}" type="text/css" media="screen"/>

    <!-- open sans font -->
    <!-- libraries -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'/>
    <style type="text/css">
        header {
            margin-bottom: 0px !important;
        }
        #sidebar-nav{
            padding-top: 4% !important;
        }
        #sidebar-nav #dashboard-menu{
            margin-left: 0.1% !important;
        }

    </style>
    {% block styles %}
    {% endblock %}
    <style type="text/css">
        .content{
            overflow: scroll !important;
        }
    </style>


    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" href="{% url 'main:home' %}">
                <img src="{% static 'main/images/logo.png'%}" width="100" height="50" alt="logo" />
            </a>


    </div>

    <ul class="nav navbar-nav pull-right hidden-xs">
        {% block nav %}
        {% endblock %}
        <li>
            <a href="/" class="hidden-xs hidden-sm">
                Web
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                {% if request.user.is_superuser %}
                    {{ request.user.username }}
                {% else %}
                    {{ request.user.first_name }}
                {% endif %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'authentication:logout' %}">Salir</a></li>
            </ul>
        </li>
        <li class="settings hidden-xs hidden-sm">
                <a href="{% url 'panel:configuration' %}" role="button">
                    <i class="icon-cog"></i>
                </a>
            </li>
    </ul>
</header>
    {% block sidebar %}
    {% endblock %}


<div class="content">
    {% block content %}

    {% endblock %}
</div>


<!-- call this page plugins -->

<!-- knob -->
<script src="{% static 'panel/js/wysihtml5-0.3.0.js' %}"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'panel/js/bootstrap.min.js' %}"></script>
<script src="{% static 'panel/js/bootstrap.datepicker.js' %}"></script>
<script src="{% static 'panel/js/jquery.uniform.min.js' %}"></script>
<script src="{% static 'panel/js/select2.min.js' %}"></script>
<script src="{% static 'panel/js/theme.js' %}"></script>
<script type="text/javascript">
    $(function () {

        // add uniform plugin styles to html elements
        if(typeof uniform !== 'undefined'){
            $("input:checkbox, input:radio").uniform();
        }
        // select2 plugin for select elements

        // datepicker plugin
        if(typeof datepicker !== 'undefined') {
            $('.input-datepicker').datepicker().on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
        }
    });
</script>
{% block scripts %}

{% endblock %}
</body>

</html>

